@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-image: url(../documents/Pet_Paradise_Cat_Zoom_Image.jpg);
}
.login-quadrado {
    width: 420px;
    background: transparent;
    border: 3px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 30px 40px;
}

.login-quadrado h1 {
    font-size: 36px;
    text-align: center;
}

.login-quadrado .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.login-quadrado .salvar-senha {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.input-box{
    position: relative;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.salvar-senha label input{
    accent-color: #fff;
    margin-right: 3px;
}

.salvar-senha a{
    color: #fff;
    text-decoration: none;
}

.salvar-senha a:hover{
    text-decoration: underline;
}

.btn a{
    color: black;
    text-decoration: none;
}

.btn:hover{
    text-decoration: underline;
}

.login-quadrado .btn {

    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.login-quadrado .registro{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.registro p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.registro p a:hover {
    text-decoration: underline;
}